<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="MultimarcasApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Offorss</title>
    <script type="text/javascript">
        var apiBaseUrl = '@Url.Content(Hermeco.Multimarcas.WebApiConfig.UrlPrefixRelative)';
    </script>
    <!--[if lte IE 8]>
       <script>
         document.createElement('ng-include');
         document.createElement('ng-pluralize');
         document.createElement('ng-view');

         // Optionally these for CSS
         document.createElement('ng:include');
         document.createElement('ng:pluralize');
         document.createElement('ng:view');
       </script>
     <![endif]-->
</head>
<body>
    <div class="container-fluid">
        <div class="row top-navbar">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html"><img src="@Url.Content("~/Content/images/logo.png")" alt="Offcorss"></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#offcorss-navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="offcorss-navbar" class="navbar-collapse collapse">
                        <form class="navbar-form navbar-left">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar Referencia...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Buscar</button>
                                </span>
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/">Ofertas</a></li>
                            <li><a href="/Pedido"><span class="glyphicon glyphicon-shopping-cart"></span><div class="circulo"></div></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{infoCliente.NombreCliente}} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" data-toggle="modal" data-target="#cartera">Mi Cartera</a></li>
                                    <li><a href="#">Ver Canasta</a></li>
                                </ul>
                            </li>
                            <li><a href="login.html">Salida Segura</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div ng-view>

        </div>
        <div id="cartera" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Mi Cartera</h4>
                    </div>
                    <div class="modal-body">
                        <p>Cupo de Crédito: {{infoCliente.CupoCredito}} </p>
                        <p>Cartera: {{infoCliente.Cartera}}</p>
                        <p>Pedidos: </p>
                        <p>Cupo Disponible: {{infoCliente.CupoDisponible}}</p>
                        <p>Estado del Cliente: {{infoCliente.EstadoCliente}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-defaul" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-page">
            <span class="glyphicon glyphicon-envelope"></span> OFFCORSS es una marca de C.I. Hermeco S.A. PBX. +54(4)3847100 - Fax. +57(4) 262 0803 A.A. 50945 - Medellin, Colombia
        </div>
    </div>
    @Styles.Render("~/Content/css")
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="js/css3-mediaqueries.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js"></script>
    @Scripts.Render("~/bundles/angularjs")
</body>
</html>