<div class="row">
    <div class="col-sm-12 col-lg-12">
        <!-- Page Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="pedido-titulos">
                    <div class="col-md-2">
                        <label>Color</label>
                       
                    </div>
                    <div class="col-md-8">
                            <div class="col-md-3"><label>Descripcion</label></div>
                            <div class="col-md-3"><label>Talla</label></div>
                            <div class="col-md-3"><label>Cantidad</label></div>
                            <div class="col-md-3"><label>Stock</label></div>
                        </div>
                    <div class="col-md-2">
                        <label>Total</label>
                    </div>
                </div>
                <div class="productos-pedido">
                    <div class="producto-pedido" ng-repeat="referencia in refPedido">
                            <div class="col-md-12">
                                <div><span class="glyphicon glyphicon-remove"></span></div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                        <div class="pedido-imagen">
                                            <img class="img-responsive center" data-ng-src="data:image/JPEG;base64,{{referencia.Imagenes[0].Imagen}}" />
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <label>Ref: </label> {{referencia.IdReferencia}}
                                        <div>{{referencia.plu[0].descripcion}}</div>
                                        <div><label>Precio: </label>{{referencia.Plu[0].Precio | currency}}</div>
                                        <div><label>Oferta: </label>{{referencia.Plu[0].Precio | currency}}</div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="col-md-12" ng-repeat="plu in referencia.Plu | filter: lessThan('Cantidad', 0)">
                                            <div class="col-md-4">{{plu.Talla}}</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="{{plu.Cantidad}}" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span> </div>
                                            <div class="col-md-4">{{plu.stock}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">{{referencia.Plu[0].Precio * GetSummGroup(referencia.Plu) | currency}}</div>
                                </div>
                                <span style="margin-top:2px;">&nbsp;</span>
                                <hr style="color:black; background-color:black; width:75%;" />
                            </div>
                    </div>
                </div>
            </div>
            <div style="float:right; margin-right:3%">
                <button type="button" class="btn btn-primary">Procesar Pedido</button>
            </div>
        </div>
    </div>
</div>