<div class="row">
    <div class="col-sm-12 col-lg-12">
        <!-- Page Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="pedido-titulos">
                    <div class="col-md-2">
                        <label>Color</label>
                       
                    </div>
                    <div class="col-md-8">
                            <div class="col-md-3"><label>Descripcion</label></div>
                            <div class="col-md-3"><label>Talla</label></div>
                            <div class="col-md-3"><label>Cantidad</label></div>
                            <div class="col-md-3"><label>Stock</label></div>
                        </div>
                    <div class="col-md-2">
                        <label>Total</label>
                    </div>
                </div>
                <div class="productos-pedido">
                    <div class="producto-pedido">
                        <a href="#">
                            <div class="col-md-12">
                                <div><span class="glyphicon glyphicon-remove"></span></div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                        <div class="pedido-imagen">
                                            <img src="http://lorempixel.com/150/150" class="img-responsive" />
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <label>Ref: </label> 0000
                                        <div>Bermuda En Tejido Plano Silueta 5 Bolsil</div>
                                        <div><label>Precio: </label> $20.000</div>
                                        <div><label>Oferta: </label> $0.0</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 4</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span> </div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 6</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3"/><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 8</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 10</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 12</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 14</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 16</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">$7.000.000</div>
                                </div>
                                <span style="margin-top:2px;">&nbsp;</span>
                                <hr style="color:black; background-color:black; width:75%;" />
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                       
                                        <div class="pedido-imagen">
                                            <img src="http://lorempixel.com/150/150" class="img-responsive" />
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-2">
                                        <label>Ref: </label> 0000
                                        <div>Bermuda En Tejido Plano Silueta 5 Bolsil</div>
                                        <div><label>Precio: </label> $20.000</div>
                                        <div><label>Oferta: </label> $0.0</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 4</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 6</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 8</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 10</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 12</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 14</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4"> 16</div>
                                            <div class="col-md-4"><input name="cantidad" type="text" value="50" maxlength="3" size="3" /><span class="glyphicon glyphicon-remove"></span></div>
                                            <div class="col-md-4">100</div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        $7.000.000
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div style="float:right; margin-right:3%">
                <button type="button" class="btn btn-primary">Procesar Pedido</button>
            </div>
        </div>
    </div>
</div>