
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Terminos y Contrato de Uso</title>
</head>
<body>
    <div>
         <p>
             2. TERMINOS DEL CONTRATO
        </p>
        <p>
            El Contrato entre el cliente y C.I HERMECO S.A. se perfeccionará cuando una Oferta de Compra en el Sitio realizada por el cliente, sea aceptada por C.I HERMECO S.A. El contrato estará regido por los términos definidos en el presente texto, los cuales rigen la venta de los productos y/o servicios que se realice mediante la utilización de este Sitio por parte de C.I HERMECO S.A. (en lo sucesivo "C.I HERMECO S.A."). Nuestros servicios están disponibles sólo para aquellos individuos que tengan capacidad legal para contratar, según lo dispuesto por la legislación colombiana vigente. Si El cliente no tiene capacidad legal para contratar, le solicitamos que no utilice nuestros servicios. C.I HERMECO S.A. en ningún caso estará obligado a aceptar una Oferta de Compra.
        </p>
        <br/>
        <p>
            2.1 Independencia de Disposiciones. En caso de que una o más de las disposiciones contenidas en estos Términos y Condiciones sean consideradas nulas, ilegales o ineficaces en cualquier aspecto, la validez, legalidad, exigibilidad o eficacia del resto de las disposiciones aquí contenidas no se verán afectadas o anuladas por dicha circunstancia.
        </p>
        <br />
        <p>
            2.2 Presentación de Oferta. C.I HERMECO S.A. a través de clientes.hermeco.com, extiende la invitación a ofertar por los diferentes productos y servicios que se enuncian y/o describen en este Sitio Web ("Sitio"). Para efectos de que exista una oferta de compra válida por parte del cliente, se requiere del diligenciamiento por parte de éste de una forma electrónica disponible en la página, en la cual se hará constar los datos personales del cliente, la selección de los productos y/o servicios deseados, así como los demás datos que C.I HERMECO S.A. considere necesarios para que se pueda proceder a realizar una compra. Una vez se diligencia dicha forma electrónica, y la misma haya sido recibida por C.I HERMECO S.A., la Oferta del cliente se entenderá perfecta y será obligatoria para el cliente. C.I HERMECO S.A. procederá a verificarla y decidir si acepta la misma. Ninguna Oferta obliga a C.I HERMECO S.A. sino hasta la aceptación de la misma. Toda cotización dada por C.I HERMECO S.A. será válida sólo para el momento en que se liquida el valor final de la Oferta de compra, por lo que C.I HERMECO S.A. se reserva el derecho de modificar los precios de los productos en cualquier momento previo a la aceptación de la Oferta, sin necesidad de avisar dicho cambio de ninguna manera.
        </p>
        <br />
        <p>
            2.3 Condiciones del Pedido. Antes de la aceptación por parte de C.I HERMECO S.A. de cualquier Oferta de compra, el cliente deberá elegir correctamente el pedido que se quiere hacer atendiendo a los términos y condiciones correspondientes, según los medios que se encuentran ya específicamente establecidos en este Sitio.
        </p>
        <br />
        <p>
            2.4 Cargos por Envío e Impuestos. C.I HERMECO S.A será responsable por los cargos de envío, manejo y seguro de los productos y/o servicios que adquieran a clientes.hermeco.com, el Cliente será el responsable de todos los impuestos sobre ventas, impuestos al valor agregado y cualesquiera otros impuestos y gravámenes que se ocasionen por cada Oferta de compra aceptada. Todos los impuestos causados por la compra serán liquidados desde el momento en que el cliente realiza su Oferta de compra en este Sitio, y por tanto podrá conocer el valor exacto a pagar a favor de C.I HERMECO S.A., el cual incluirá todos los conceptos mencionados.
        </p>
        <br />
        <p>
            2.5 Perfeccionamiento y Transferencia de Propiedad. El perfeccionamiento del contrato se presenta cuando C.I HERMECO S.A. acepta la Oferta de compra presentada por el cliente, lo cual se entiende hecho cuando C.I HERMECO S.A. procede al embarque de los respectivos productos y/o servicios seleccionados. C.I HERMECO S.A. podrá aceptar parcialmente Ofertas de compra, en cuyo caso el contrato se perfeccionará sólo para los productos y/o servicios aceptados por C.I HERMECO S.A. En los eventos de pago contra entrega, la propiedad sobre los productos y/o servicios se transmitirá al cliente desde el momento en que los mismos sean cancelados por éste en el lugar de entrega. En el evento que el precio de los productos y/o servicios objeto de una oferta de compra no sea pagado, se entenderá que existe incumplimiento del contrato, lo cual es causal para darlo por terminado por parte de C.I HERMECO S.A., asumiendo el cliente el valor de la devolución de dichos productos y/o servicios al respectivo depósito, así como el monto de los perjuicios derivados de dicho incumplimiento. En los eventos de pago por los demás medios posibles, de acuerdo a lo establecido en este Sitio, la propiedad sobre los productos y/o servicios se transmitirá al cliente desde el mismo momento del perfeccionamiento del contrato, es decir, desde que los mismos se embarquen desde los depósitos y/o almacenes autorizados de C.I HERMECO S.A. en la República de Colombia.
        </p>
        <br />
        <p>
            2.6 Entrega de los Productos. C.I HERMECO S.A. se compromete a realizar entregas exclusivamente dentro del territorio colombiano, en las zonas y lugares a los que tenga acceso de acuerdo a su red de distribución, y por consiguiente podrá negarse a la aceptación de una Oferta de compra cuando el domicilio registrado por el cliente para realizar la entrega, no se encuentre dentro de las zonas geográficas habilitadas por C.I HERMECO S.A. para tal efecto. Los productos objeto de la compraventa serán entregados en el domicilio que el cliente haga constar al realizar su Oferta de compra, dependiendo de la fecha de entrega solicitada por el cliente y los tiempos de transporte requeridos de acuerdo al país y/o ciudad de entrega, y siempre y cuando se hayan determinado por anticipado los términos y condiciones de pago y no se presenten causas ajenas a la voluntad de C.I HERMECO S.A. que pudieran retrasar la entrega, como cualquier evento de caso fortuito o fuerza mayor. Se entiende que cualquier persona que se encuentre en el domicilio donde debe realizarse la entrega, se encuentra debidamente autorizado por el cliente para recibir su pedido, y por tanto C.I HERMECO S.A. queda exonerado de cualquier responsabilidad por la entrega que realizare, siempre que la misma se haga en el domicilio registrado en nuestro Sitio. Si nadie recibe el pedido en el domicilio señalado, C.I HERMECO S.A. procederá a la devolución de los productos y/o servicios al CENTRO DE ALMACENAMIENTO Y DISTRIBUCION CAD, ubicado en el domicilio principal de CI HERMECO S.A es decir en la Carrera 46 Nro 27-59 de la ciudad de Medellín-Colombia, y el cliente estará en la obligación de contactarnos en un término máximo de cinco (5) días calendario para que procedamos a su reenvío, en cuyo caso, los gastos generados por el mismo, correrán por el cliente, y hasta tanto los mismos no sean cancelados, C.I HERMECO S.A. no estará en obligación de hacer nuevamente el despacho. Si el cliente no procede a solicitar el reenvío en el término indicado, o no cancela el valor adicional por el reenvío, C.I HERMECO S.A. podrá desistir del negocio, y estará obligado sólo a restituir el monto pagado por los productos y/o servicios, descontando el valor de los gastos incurridos por transporte.
        </p>
        <br />
        <p>
            2.7 Productos y/o servicios. Es política de C.I HERMECO S.A. la actualización y revisión constante de los productos y/o servicios que se exhiben en este Sitio. C.I HERMECO S.A. puede modificar y descontinuar productos y/o servicios en cualquier momento.
        </p>
        <br />
        <p>
            2.8 Devoluciones y Cambios. La solicitud de cambio o devolución si la causa es atribuible a CI HERMECO S.A la deberá realizar directamente con el director de ventas según la zona donde se encuentre localizado el cliente, el cual valorará la causa de la devolución (colores no pedidos, referencias no solicitadas, etc) y otorgará la aprobación de la devolución o cambio, si la solicitud de cambio o devolución se presente por causas no atribuibles a C.I HERMECO S.A., el cliente presentará tal situación al director de ventas de la zona en que se encuentre y este junto con el área de Servicio al cliente de C.I HERMECO S.A decidirán la viabilidad o no de la devolución o el cambio. El crédito que se otorgará por el respectivo cambio o devolución ascenderá al valor neto del producto y/o servicio, sin incluir el valor del transporte, el cual es asumido por el cliente, quien además deberá asumir los cargos de transporte que se generen como consecuencia de la recolección del producto y/o servicio, así como del nuevo envío.
        </p>
        <br />
        <p>
            2.9 Exoneración y Garantías. Los productos y/o servicios exhibidos son suministrados, sin haber de por medio garantías de cualquier tipo, ya sea expresas o implícitas. C.I HERMECO S.A. no garantiza que las imágenes de los productos y/o servicios en clientes.hermeco.com correspondan exactamente a las características de los mismos. Salvo lo previsto en la Legislación colombiana como obligaciones del comercializador, C.I HERMECO S.A. desconoce todas las garantías expresas o implícitas, incluyendo, mas no limitado a, garantías de comerciabilidad, adecuación para un propósito particular, no contravención u otra violación de derechos. Las garantías sobre los productos y/o servicios exhibidos en este Sitio se limitarán a las ofrecidas por el productor del respectivo producto y/o servicio, y estarán vigentes únicamente a partir de que se verifique la recepción por parte de C.I HERMECO S.A. del pago íntegro del precio del respectivo producto y/o servicio.
        </p>
        <br />
        <p>
            2.10 Responsabilidad Limitada. Sin perjuicio de lo establecido en las normas imperativas de la Legislación colombiana, la responsabilidad de C.I HERMECO S.A. por incumplimiento de contrato, responsabilidad civil, objetiva o de cualquier naturaleza, en ningún caso podrá exceder el monto total pagado por el cliente como precio total del(os) producto(s) y/o servicio(s) objeto de la reclamación, independientemente del fundamento de la acción respectiva. C.I HERMECO S.A. no asume ninguna responsabilidad por los perjuicios derivados de la utilización de los productos y/o servicios exhibidos en esta página, según los términos consagrados en la Legislación colombiana.
        </p>
        <br />
        <p>
            2.11 Revisión de los Términos. C.I HERMECO S.A. puede en cualquier momento revisar estos Términos del contrato aquí incluidos, por medio de la actualización de este anuncio. Al usar este Sitio, el cliente conviene en darse por obligado por cualquiera de tales revisiones, debiendo entonces visitar periódicamente esta página para determinar los términos vigentes en ese momento a los cuales el cliente estará obligado en el evento que decida realizar una Oferta de compra.
        </p>
        <br />
        <p>
            2.12 Otros Documentos. Estos términos no pueden ser alterados, complementados o enmendados por medio del uso de ningún otro documento. Todo intento de alterar, complementar o enmendar este documento o de presentar una Oferta de compra de producto(s) y/o servicio(s) que esté sujeta a términos y condiciones adicionales o distintos, será nulo y de ningún efecto, salvo que se haya acordado de manera distinta mediante convenio por escrito firmado por el cliente y C.I HERMECO S.A.
        </p>
        <br />
        <p>
            2.13 Legislación Aplicable y Jurisdicción. Estos términos y condiciones de venta se regirán e interpretarán de acuerdo con las leyes de la República de Colombia. Cualquier controversia que derive de este documento se someterá a los tribunales del Municipio de Medellín (Colombia), y tanto C.I HERMECO S.A. como el cliente renuncian expresamente a cualquier otro fuero que pudiera corresponderles en razón de su domicilio presente o futuro.
        </p>
        <br />
        <p>
            2.14 CLAUSULA COMPROMISORIA Las controversias surgidas entre las partes por razón de la existencia, interpretación, desarrollo o terminación de la Relación C.I HERMECO S.A-CLIENTE, que no pudiera dirimirse directamente entre ellas, se someterán a la decisión de un Tribunal de Arbitramento conformado por TRES (3) árbitros, nombrados de común acuerdo por las partes, escogidos de las listas del Centro de Conciliación, Arbitraje y Amigable Composición de la Cámara de Comercio de Medellín para Antioquia. En caso de no ser posible un acuerdo entre las partes, los árbitros serán nombrados por el mencionado Centro, por el sistema de sorteo de entre sus listas. El procedimiento será el indicado por la normatividad vigente sobre la materia, además, el fallo será en Derecho. El lugar de presentación de la solicitud de instalación, así como, el funcionamiento del Tribunal será en las instalaciones del Centro de Conciliación, Arbitraje y Amigable Composición de la Cámara de Comercio de Medellín para Antioquia.
        </p>
    </div>
</body>
</html>
