<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hermeco.Multimarcas.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAviableReports" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://HDBAPPSVR.HERMECO.COM:8080/IPCService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAviableReports" contract="Proxy.IAviableReports"
                name="BasicHttpBinding_IAviableReports" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Hermeco.Multimarcas.Services.Properties.Settings>
            <setting name="Hermeco_Multimarcas_Services_wsPedidos_CreaPedido_Sync_OutService"
                serializeAs="String">
                <value>http://hermeconpiprd.hermeco.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SAP_I_MODELO_BS&amp;receiverParty=&amp;receiverService=&amp;interface=CreaPedido_Sync_Out&amp;interfaceNamespace=urn%3AcreaPedido%3Amodelo%3Asap</value>
            </setting>
        </Hermeco.Multimarcas.Services.Properties.Settings>
    </applicationSettings>
</configuration>