
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
    <script>
        window.location.href = webBaseUrl;
    </script>
</head>
<body>
    <div> Session Finalizada!!!
    </div>
</body>
</html>
